body{
  background-color: #001b42;
background-image: url("../img/h.jpg");
margin:auto;
}
.login_container{
  box-shadow: 1px 2px 6px black;
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  z-index: 11111111;
  margin-top: 20px;

  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  width: 800px;
  border: none;
  transform: translate(-50%,-50%);
  color: gray;
  background-color:rgba(19, 35, 47, 0.9);
  background-color: white;

}
.login_container input{
  z-index: inherit;
  font-family: 'Titillium Web', sans-serif;
background: inherit;
color: gray;
  height: 40px;
  width: 250px;
  margin: 0;
  display: block;
  border: 1px solid gray;
//  border-radius: 0px;
padding-left: 5px;
}

.logintable{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;

  style:none;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  float: right;
  position:absolute;
  }
  .signuptable {
    transition:all 0.5s ease;
    display: hidden;
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    style:none;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    float: right;
    position:absolute;

  }

.login_container td{
  padding-top: 20px;
  padding-right: 50px;
}

.topbuttons {
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;

  margin: 0px;
  top:0px;
  background-color: blue;
}
.topbuttons ul{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;

  style:none;
  margin: 0px;
  top:0px;
  background-color: blue;
}
.topbuttons li{
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;

  display:block;
  margin: 0px;
  top:0px;


}



.topbuttons button{
font-family: 'Titillium Web', sans-serif;
font-size: 20px;

  border: none;
  width: 50%;
  float: left;
  height: 60px;
  margin: 0px;
  top:0px;
  background-color: #1ab188;

}
.topbuttons li:first-child{
border-right: 1px solid;
color: black;
}



.loginbutton button{
  z-index: 1;
  box-shadow: 1px 2px 3px black;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border: none;
  background-color:#1ab188;
  position: absolute;
  top: 80%;
  left: 535px;
  height: 35px;
  width: 120px;
}

.signupbutton button{
box-shadow: 1px 2px 3px black;
  color: white;
  font-family: 'Titillium Web', sans-serif;
  font-size: 20px;
  border: none;
  background-color:#1ab188;
  position: absolute;
  top: 80%;
  left: 535px;
  height: 35px;
  width: 120px;
}
#input1{
  display: hidden;
  z-index:-111;
}
