html{
  font-family:sans-serif;
  overflow-y:auto;
  scrollbar-width:none;
}
::-webkit-scrollbar {
    display: none;
}
body{
  margin:0;
}
div.nav_bar{
z-index: 11111;
  border: none;
  position: fixed;
  margin:0;
  background-color:#262626;
  width: 100%;
}
div.nav_elements li{
  margin:0;
    //padding: 14px 16px;
    display: block;
    background-color:#262626;
    color:white;
    float: left;

}
div.dropdown:hover {
  margin:0;
  position: absolute;
  //padding: 14px 16px;
  list-style: none;
  z-index:1;
  display: block;
}
div.dropdown_content {
  background-color:black;
  z-index:1;
  display:none;
}
div.dropdown:hover  div.dropdown_content{
    display: block;
}
.drp_btn{
  font-family: inherit;
  font-size: 100%;
  text-align: center;
  border: none;
  display: block;
  color: white;
  margin: none;
  padding: 14px 16px;
  background-color:#229333;
}
.drp_btn:hover{
  border: none;
  display: block;
  color: black;

  margin: 0;
  padding: 14px 16px;
  background-color: yellow;
}
div.nav_elements a{
  margin: none;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

div.nav_elements a:active,a:hover{
  margin: none;
  color:white;
  display: block;

  text-decoration: none;
  background-color: green;
}
div.register_section{
  position: absolute;
  right: 0px;
}
div.register_section li{
  position:absolute;
  right: 0px;
  margin:0;
    //padding: 14px 16px;
    display: block;
    background-color:#262626;
    color:white;
    float: left;
}
div.register_section a{
  position: absolute;
  right: 0px;
  margin: none;
  display: block;
  padding: 14px 16px;
  text-decoration: none;
  color: white;
}

div.register_section a:active,a:hover{
  margin: none;
  color:white;
  display: block;

  text-decoration: none;
  background-color: green;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
div.main{
  align-items: center;
/*padding-top: 30px;
  padding-bottom:30px;
  padding-left:5px;
  padding-right: 5px;
*/  position: relative;
  background-color:#001b42;
  padding-top: 130px;
  padding-left:325px;
  padding-bottom: 50px;
  //top: 200px;
  overflow-x: hidden;
  border-bottom: 5px solid black;
  color: white;
}

div.main li{
  position:relative;
  align-items: center;
left: 0px;

float: left;
display: block;
}
div.main input{
  left: 0px;
  width: 200px;
  height: 50px;
  margin: 0px;
}
div.main button{
  border:none;
//  float: left;
  background-color: #3366ff;
  color: inherit;
  align-items: center;
//  right: auto;
  left: 0px;
  width: 205px;
  height: 55px;
  margin: 0px;
}
div.main img{
  position: absolute;
  height: 200px;
  top:40px;
  left: 60px;
}
div.main_deals1{
  border: 1px solid black;
  border-color: #0f0f0f;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 475px;
  left:200px;
  right: 200px;
  display: block;
}
div.main_deals1:hover{
  background-color: #001b42;
  transition: 1s all ease;
  display: block;
  border: 1px solid black;
  position: absolute;
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  top: 475px;
  left:200px;
  right: 200px;
}
div.main_deals1 img{
height: 90px;
padding-left: 30px;
}

div.main_deals1_ h3{
left: 140px;
top: 0px;
position:absolute;
}
div.main_deals1_ p{
left: 140px;
top: 50px;
position:absolute;
}
div.main_deals2{
  position: absolute;
  top: 650px;
  left: 100px;
}
div.main_deals2 a{
  transition: 0.5s all ease;
    padding: none;
    margin: 0px 0px;

}

div.main_deals2 a:hover{
  display: block;
  background-color:white;
  padding: none;
  margin: 0px 0px;

}

div.main_deals2 li{
  padding: 14px 16px;
  float: left;
  display: block;
}
div.main_deals2 img{
z-index: -1;
  width: 600px;
  height: 300px;
  float: left;
display: block;
}
div.main_deals2 img:hover{
  transition: 0.3s all ease;
z-index: -1;
display: block;
  width: 600px;
  height: 300px;
  float: left;
  box-shadow: 5px 5px 15px #001b42;
}
div.main_deals2 h1{
  text-shadow: 1px 2px black;
  top: 90px;
  color: white;
  left: 15px;
  position: relative;
}

div.main_deals3{
  position: absolute;
 top: 1000px;
  left: 100px;

}
div.main_deals3 a{
margin-top: auto;
display: block;;
text-decoration: none;
}

div.main_deals3 a:hover{
  background-color: white;
  text-decoration: none;
  margin:auto;
  height: 0px;
  padding-top:0px;
}


div.main_deals3 li{
  padding: 14px 16px;
  float: left;
  display: block;
}

div.main_deals3 img{
z-index: -1;
  width: 390px;
  height: 300px;
  float: left;
display: block;
}

div.main_deals3 h1{
  text-shadow: 1px 2px black;
  top: 110px;
  color: white;
  left: 15px;
  position: relative;
}
div.main_deals3 img:hover{
  transition: 0.3s all ease;
z-index: -1;
display: block;
  width: 390px;
  height: 300px;
  float: left;
  box-shadow: 5px 5px 15px #001b42;
}
div.main_deals3 p{
  text-shadow: 1px 2px black;
top: 100px;
  left: 20px;
  color: white;
  position:relative;
}

div.email_subscribe{
  border-top: 5px solid black;
  //border-bottom: 5px solid black;
  padding-top:50px;
  padding-bottom:160px;
  position: absolute;
  top: 1500px;
  padding-left: 270px;
  padding-right:140px;
  width: 1074px;
  background-color:#001b42;
  color: white;
}
div.email_subscribe input{
  padding-left: 0px;
  font-size: 20px;
  font-family: sans-serif;
  border: none;
height: 50px;
width: 500px;
top: 10px;
position: relative;
}
div.email_subscribe li:nth-child(1){
  padding-right: 50px;
}
div.email_subscribe li{
color: white;
padding-right: px;
float: left;
display: block;
}
div.email_subscribe button{
color: white;
font-size:20px;
background-color: #3366ff;
height: 52px;
width: 150px;
top: 10px;
position: relative;
border: none;
}
div.end_credits{
  position:absolute;
  top: 1745px;
//  left: 100px;
}
div.end_credits li{
padding-right: 10px;
padding-bottom: 5px;
padding-left: 155px;
display: block;
color: white;
float: left;
}

div.left_countries_container{
  position: fixed;
  left: 0px;
  top: 0px;
  bottom: none;
  height: 100%;
  width: 220px;
  color: white;
  overflow-y: scroll;
  scrollbar-width:none;
  background-color: #001b42;
  z-index: 1;
  transition: 0.3s all ease;
}

div.left_countries_container li{
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}

div.europe li:nth-child(1){
  background-color: black;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;




}
div.europe_hidden li:nth-child(1){
  background-color: #001b42;
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}
#mid li:nth-child(1){
  background-color: #001b42;
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}
#afr li:nth-child(1){
  background-color: #001b42;
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}
#asi li:nth-child(1){
  background-color: #001b42;
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}
#asi li:nth-child(1):hover{
  background-color: #0073e6;
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}
#afr li:nth-child(1):hover{
  background-color: #0073e6;
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}

#mid li:nth-child(1):hover{
  background-color: #0073e6;
  display: block;
  position: relative;
  top: 60px;
  left: 0px;
  padding-top:10px;
  padding-right:none;
  padding-left:20px;
  padding-bottom: 10px;
width: auto;
  transition: 0.3s all ease;
}

div.middle_east li:nth-child(1){
  background-color: black;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
div.africa li:nth-child(1){
  background-color: black;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
div.asia li:nth-child(1){
  background-color: black;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
}
div.europe button:nth-child(1){
  padding-top:10px;
  color: white;
  align-items: center;
  background-color: #001b42;
  padding-right:150px;
  padding-left:20px;
  padding-bottom:20px;
border: none;
  font-size: 16px;
}
div.middle_east button:nth-child(1){
  padding-top:10px;
  color: white;
  align-items: center;
  background-color: #001b42;
  padding-right:147px;
  padding-left:20px;

  padding-bottom:20px;
  border: none;
  font-size: 16px;
}
div.africa button:nth-child(1){
  padding-top:10px;
  color: white;
  align-items: center;
  background-color: #001b42;
  padding-right:160px;
  padding-left:20px;
  padding-bottom:20px;
border: none;
  font-size: 16px;
}
div.asia button:nth-child(1){
  padding-top:10px;
  color: white;
  align-items: center;
  background-color: #001b42;
  padding-right:171px;
  padding-left:20px;
  padding-bottom:20px;
border: none;
  font-size: 16px;
}
div.left_countries_container li:hover ,div.left_countries_container li:focus{
  display: block;
  background-color: #0073e6;
  position: relative;
  top: 60px;
  left: 0px;
  padding-left:20px;
  padding-top:10px;
  padding-bottom: 10px;
  padding-right: none;
  width: 200px;
  transition: 0.3s all ease;
}
/*div.left_countries_container button{
  position: relative;
height: 30px;
color: white;
background-color:#001b42;
border: none;
display: block;
font-size: 16px;
left: -10px;
padding-top:10px;
padding-left: 10px;
}


div.left_countries_container button:hover{
font-size: 16px;
color: white;
height: 30px;
display: block;
background-color:#0073e6;
border: none;
padding-right:70px;
}
*/
div.europe_hidden{
  display: none;
  transition: 0.3s all ease;
}
/*
div.europe:hover  div.europe_hidden{
  display: block;
  transition: 0.3s all ease;
}
*/
div.middle_east_hidden{
  display: none;
  transition: 0.3s all ease;
}
/*
div.middle_east:hover  div.middle_east_hidden{
  display: block;
  transition: 0.3s all ease;
}
*/
div.africa_hidden{
  display: none;
  transition: 0.3s all ease;
}
div.asia_hidden{
  display: none;
  transition: 0.3s all ease;
}
/*
div.africa:hover  div.africa_hidden{
  display: block;
  transition: 0.3s all ease;
}
*/

div.flights_list{
  overflow-y: hidden;
  position: relative;
  height: 100%;
  width: 100%;
  top: 25px;

  left:190px;
  padding-top: 20px;
  padding-left: 30px;
  background-color:;

}
div.flights_list_user{
  overflow-y: hidden;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 25px;
  right: 00px;
  left:190px;
  padding-top: 20px;
  padding-left: 30px;
  background-color:;

}
div.flights_list_user li {
  display: block;
  position: relative;
  align-items: center;
  background-color:white;
  padding-top:15px;
  padding-bottom: 15px;

}
#date_input{
  height: 30px;
  padding-bottom: 0px;
}

div.flights_list_user td{
  position: relative;
  float: left;
  width: 120px;
  //border: 1px solid black;
  padding-right: 0px;
  padding-top: 10px;
  padding-left: 10px;
  align-items: center;

}


div.flights_list li {
  top: 50px;
  display: block;
  position: relative;
  align-items: center;
  background-color:white;
  padding-left: 50px;
  padding-top:15px;
  padding-bottom: 15px;
  border-bottom: 1px solid black;
}

#fl {
  top: 50px;
  display: block;
  position: relative;
  align-items: center;
  background-color:white;
  padding-left: 50px;
  padding-top:15px;
  padding-bottom: 50px;
//  border-bottom: 1px solid black;
}
div.flights_list td{
position: relative;
  float: left;
  width: 120px;
  //border: 0px solid black;
  padding-right: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  align-items: center;

}


div.left_countries_container a {
  text-decoration: none;
  color: inherit;
  decoration:none;
  display: block;
}

div.thanks_for_subscribing{
  font-family: sans-serif;
  color: white;
  background-color: #001b42;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}


div.all_accomodation_main_offers{
  left: 20px;
  position: absolute;
  top: 40px;
}
#login_variable li{
  display: block;
  position: absolute;
  align-items: center;
  right:1px;
padding:14px 16px;
}
#login_variable a{
  margin: 0;
  position: absolute;
  //align-items: center;
  right:1px;
//padding:14px 16px;
}
/*
div.left_countries_container{
  position: fixed;
  background-color: #001b42;
  height: 100%;
  left: 0px;
  width: 250px;

}

div.left_user_container li {
  top: 60px;
  padding-left: 10px;
  padding-top: 7px;
  padding-bottom:7px;
  padding-right: 100px;
  position: relative;
color: white;

}

div.left_countries_container li:hover {
background-color: #0073e6;
}
*/

div.off_peak_top_container{
  position: absolute;
  top: 0px;
  left: 0px;
  padding-top: 30px;
  height: 300px;
  width: 100%;
  color: white;
  background-color: #001b42;
}

div.off_peak_top_container li {
  float: left;
  display: block;
}
div.off_peak_top_container p {
  position: relative;
  display: block;
  top: 170px;
  left: -130px;
}

div.off_peak_top_container h1 {
  float: left;
  display: block;
  position: relative;
  top: 70px;
  left: 100px;
}


div.off_peak_top_container img {
  padding-top: 50px;
  left: 80%;
  position: absolute;
  height: 200px;
  display: block;
}

div.off_peak_deals_deals_list{
  position: absolute;
  top:350px;
  left: 100px;
}


div.off_peak_deals_deals_list li {
display: block;
float: left;
transition: 0.5s  ease all;
padding-left: 20px;
}

div.off_peak_deals_deals_list li:hover {
transition: 0.5s  ease all;
background-color:white;
}

div.off_peak_deals_deals_list a {
display: block;
text-decoration: none;
transition: 0.5s  ease all;
color: #001b42;
}
div.off_peak_deals_deals_list a:hover {
display: block;
transition: 0.5s  ease all;
background-color:white;
text-decoration: none;
color: #001b42;
}
div.off_peak_deals_deals_list img {
transition: 0.5s  ease all;
height: 200px;
width: 300px;
}
div.off_peak_deals_deals_list img:hover{
background-color:white;
transition: 0.5s  ease all;
height: 200px;
width: 300px;
}

div.bangkok_first_1{
  position: absolute;
  top: 35px;
  left:0px;
  width: 100%;
  height: 270px;
  color: white;
  background:#001b42;

}
div.bangkok_first_1 h1{
  position: relative;
  top: 10px;
  left: 20px;

}

div.bangkok_first_1 h2{
  position: relative;
  top: 10px;
  left: 20px;

}
div.bangkok_first_1 li{
  position: relative;
  display: block;
}
div.bangkok_first_1 img{
height: 200px;
left: 1050px;
top: 25px;
position: absolute;
}

div.bangkok_into1{
  left: 100px;
  position: absolute;
  top: 320px;
}

div.bangkok_into1 p {
padding-bottom: 5px;
color: gray;

}

div.bangkok_into1 img {
width: 500px;
height: 300px;
padding-bottom: 20px;
}

#bangkok_into_p1{
  position: absolute;
  right: 100px;
  top: 200px;
  left: 550px;
  color: #001b42;
}

div.bangkok_into2{
  left: 100px;
  position: absolute;
  top: 820px;
}
div.bangkok_into2 img {
width: 500px;
height: 300px;
padding-bottom: 20px;
}
div.bangkok_into2 p {
padding-bottom: 5px;
color: gray;

}

#bangkok_into_p2{
  position: absolute;
  right: 100px;
  top: 600px;
  left: 550px;
  color: #001b42;
}

div.bangkok_what_we_cover{
  position: absolute;
  top: 1300px;
  left: 100px;
  padding-bottom: 100px;
}

div.bangkok_what_we_cover li{
  display: block;
}

div.bangkok_what_we_cover button{
  background-color:#001b42;
  color: white;
  border: none;
  display: block;
  height: 40px;
  width: 100px;
  align-items: center;
transition: 0.5s ease all;
}

div.bangkok_what_we_cover button:hover{
  background-color:#001b42;
  transition: 0.5s ease all;
  color: white;
  border: none;
  display: block;
  height: 42px;
  width: 110px;
  align-items: center;
}

div.bangkok_what_we_cover a {
  display: block;

  text-decoration: none;
  color: white;
}

div.bangkok_what_we_cover a:hover {
  display: block;
  background-color: #001b42;
  padding-top: 6px;
  padding-bottom:6px;
  width: auto;
  text-decoration: none;
  color: white;
}


div.car_rantal_container {
  position:absolute;
  top: 100px;
  left: 50px;
  border: 5px solid black;
  width: 93%;
  margin-bottom: 100px;
}


div.car_rantal_container img {
  height: 150px;
  width: 200px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px gray;
}

div.car_rantal_container a {
  padding: 14px 40px;
  text-decoration: none;
  display: block;
  background-color: blue;
  color: white;
}

div.car_rantal_container a:hover {
  padding: 14px 40px;
  text-decoration: none;
  display: block;
  background-color:black;
  transition: .5s all ease;
  color: white;
}

div.car_rantal_container td {
float: left;
padding-right: 20px;
padding-top: 20px;
padding-bottom: 20px;
display: block;
}

div.car_rantal_container table {
  padding-bottom: 50px;
  border-bottom: 1px solid black;
  width: 100%;
}

div.car_rantal_container td:nth-child(1){
  padding-left: 20px;
}


div.car_rantal_container td:nth-child(8){
  position: relative;
  bottom: 20px;
}
